<div class="modal-header">
  <h4 class="modal-title">{{'Dispcher.Order' | translate}} "{{order.code}}" {{'Dispcher.Progress' | translate}}</h4>
</div>

<div class="modal-body">
  <!--<div class="row">-->
  <!--<div class="col-md-offset-9 col-md-3">-->
  <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-md-12">
      <ngx-datatable class="material expandable" [rows]="progress" [columnMode]="'force'" [columns]="[]"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="false" [limit]="10"
                     [selected]="[]"
                     [selectionType]="'falsey'">

        <ngx-datatable-column [width]="10" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="false"
                              [checkboxable]="false">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='10' prop="createdDate" name="{{'Dispcher.CREATED_DATE' | translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='10' prop="createdBy.userName" name="{{'Dispcher.cretBy' | translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='10' prop="progressStatus.name" name="{{'Dispcher.STATUS' | translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='10' prop="note" name="{{'Dispcher.not' | translate}}"></ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>

  <div class="row add-button" *ngIf="!toggleAddFormFlag">
    <div class="col-md-offset-9">
      <button class="btn btn-dark" *ngIf="order.fK_Technican_Id" (click)="toggleAddForm()">
        <i class="fa fa-plus-circle"></i> {{'Dispcher.adProgrs' | translate}}
      </button>
    </div>
  </div>

  <div class="add-form" *ngIf="toggleAddFormFlag">
    <form #addForm="ngForm" autocomplete="off" (ngSubmit)="addForm.valid && submitProgress(addForm.value)">
      <h4>{{'Dispcher.adNewOrdrProgrs' | translate}}</h4>
      <div class="row">
        <div class="form-group col-md-6">
          <label>{{'Dispcher.STATUS' | translate}}</label>
          <select class="form-control" name="fK_ProgressStatus_Id" [(ngModel)]="newProgress.fK_ProgressStatus_Id"
                  required>
            <option [value]="undefined" *ngIf="!newProgress.fK_ProgressStatus_Id">-- {{'Dispcher.Choose_Type' | translate}} --</option>
            <option [value]="status.id" *ngFor="let status of progressStatuses">{{status.name}}</option>
          </select>
          <em *ngIf="addForm.submitted && addForm.controls?.fK_ProgressStatus_Id.invalid"><i
            class="fa fa-exclamation-triangle"></i>{{'Dispcher.This_field_is_required' | translate}}</em>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>{{'Dispcher.note' | translate}}</label>
            <textarea name="note" placeholder="{{'Dispcher.please_write_any_notes' | translate}}..." rows="4"
                      [(ngModel)]="newProgress.note" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <button type="button" style="width:100%" class="btn btn-light" (click)="toggleAddForm()">{{'Dispcher.CANCEL' | translate}}</button>
        </div>
        <div class="col-md-offset-6 col-md-3">
          <button type="submit" style="width:100%" class="btn btn-dark">{{'Dispcher.savProgrs' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal-footer">

  <button type="button" class="btn btn-default" (click)="close()">{{'Dispcher.clos' | translate}}</button>
  <!--<button class="btn btn-dark">Add Progress</button>-->

</div>



