<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<form #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group" *ngIf="type == 'Order Progress'">
      <label>{{'SHARED.Order_Status_Type' | translate}} :</label>
      <select name="fK_OrderStatus_Id" class="form-control" [(ngModel)]="data.fK_OrderStatus_Id"
              [required]="type == 'Order Progress'">
        <option [value]="undefined">-- {{'SHARED.Select_Status' | translate}} --</option>
        <option *ngFor="let state of states" [value]="state.id">{{state?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{'ADMN.Name' | translate}} :</label>
      <input class="form-control" placeholder="{{'ADMN.Pleasetypevalue_Placeholder' | translate}} ..." name="name" [(ngModel)]="data.name" required>
      <!--</div>-->
      <!--</div>-->
      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid"
                   severity="{{'MSG.Error_Msg' | translate}}"
                   text="{{'SHARED.Value_is_required' | translate}}"></p-message>
      </div>
      <!--</div>-->
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">{{'ADMN.clos' | translate}}</button>
    <button class="btn btn-primary" type="submit">{{'ADMN.Save' | translate}}</button>
  </div>
</form>
