<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form *ngIf="!toggleLoading" autoComplete="off" #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group">
      <label>{{'ADMN.FIRST_NAME' | translate}} :</label>
      <input type="text" class="form-control" placeholder="{{'ADMN.FIRST_NAME' | translate}} ..." name="firstName" [(ngModel)]="data.firstName"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.firstName.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
      </em>
    </div>

    <div class="form-group">
      <label>{{'ADMN.Middle_Name' | translate}} :</label>
      <input type="text" class="form-control" placeholder="{{'ADMN.Middle_Name' | translate}} ..." name="middleName"
             [(ngModel)]="data.middleName"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.middleName.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
      </em>
    </div>

    <div class="form-group">
      <label>{{'ADMN.LAST_NAME' | translate}} :</label>
      <input type="text" class="form-control" placeholder="{{'ADMN.LAST_NAME' | translate}} ..." name="lastName" [(ngModel)]="data.lastName"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.lastName.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
      </em>
    </div>

    <div class="form-group">
      <label>{{'ADMN.Phone' | translate}}</label>
      <input type="tel" step="1" minlength="8" class="form-control" placeholder="{{'ADMN.Pleasetypevalue_Placeholder' | translate}} ..."
             name="phoneNumber" maxlength="8"
             [(ngModel)]="data.phoneNumber"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.phoneNumber.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required_and_contains_characters' | translate}}
      </em>
    </div>

    <div class="form-group">
      <label>{{'ADMN.USERNAME' | translate}}</label>
      <input type="text" class="form-control" placeholder="{{'ADMN.USERNAME' | translate}} ..." name="userName" [(ngModel)]="data.userName"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.userName.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
      </em>
    </div>


    <div class="row">
      <div class="form-group col-md-6">
        <label>{{'ADMN.UserRole' | translate}}</label>
        <select class="form-control" name="roleNames" [(ngModel)]="data.roleNames"
                required>
          <option [value]="undefined" *ngIf="!data.roleNames?.length">-- {{'ADMN.ChooseUserRole_Placeholder' | translate}} --</option>
          <option [value]="role?.name" *ngFor="let role of roles">{{role.name}}</option>
        </select>
        <em *ngIf="editForm.submitted && editForm.controls?.roleNames.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
        </em>
      </div>
    </div>


    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="email" />
    <input style="display:none" type="password" name="password" />


    <div class="form-group">
      <label>{{'ADMN.EMAIL' | translate}}</label>
      <input type="email" class="form-control" placeholder="{{'ADMN.EMAIL' | translate}}...." name="email" [(ngModel)]="data.email" required>
      <em *ngIf="editForm.submitted && editForm.controls?.email.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
      </em>
      <em *ngIf="data.email && !(data.email.match(emailRegex))">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.Email_must_be_valid_like' | translate}}
      </em>
    </div>

    <div class="form-group" *ngIf="!existedUserFlag">
      <label>{{'ADMN.PASSWORD' | translate}}</label>
      <input type="password" class="form-control" placeholder="{{'ADMN.PASSWORD' | translate}}..." name="password"
             [(ngModel)]="data.password" required>
      <em *ngIf="editForm.submitted && editForm.controls?.password.invalid">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}
      </em>
      <em *ngIf="data.password && !(data.password?.match(passwordRegex))">
        <i class="fa fa-exclamation-triangle"></i>{{'ADMN.Password_Alert' | translate}}
      </em>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">{{'ADMN.clos' | translate}}</button>
    <button class="btn btn-primary" type="submit">{{'ADMN.Save' | translate}}</button>
  </div>
</form>
