<div class="row">
  <br/>
  <div class="col-md-offset-1 col-md-5">
    <h4 class="sub-title">List of Contracts</h4>
  </div>
  
  <div class=" col-md-offset-3 col-md-2">
    <button class="btn btn-dark" (click)="exportCsv()">Export</button>
  </div>
</div>

<div class="row" id="unique">
    <div class="col-md-offset-1 col-md-10">
      <ngx-datatable class="material expandable" [rows]="data" [columnMode]="'force'" [columns]="[]"
                     [headerHeight]="70"
                     [footerHeight]="50" [rowHeight]="'50'"  [limit]="10"
                     [selected]="[]">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="false"
                              [checkboxable]="false">
        </ngx-datatable-column>
  
        <ngx-datatable-column [width]='90' prop="contractNumber" name="Contract Number"></ngx-datatable-column>
  
        <ngx-datatable-column [width]='90' prop="contractType.name" name="Contract type"></ngx-datatable-column>
  
        <ngx-datatable-column [width]='90' prop="customer.name"
                              name="Customer Name"></ngx-datatable-column>
  
        <ngx-datatable-column [width]='90' prop="startDate" name="start date"></ngx-datatable-column>
  
        <ngx-datatable-column [width]='90' prop="endDate" name="End date"></ngx-datatable-column>
         
      </ngx-datatable>
  
    </div>
  </div>

  <table *ngIf="show" style="position: absolute; z-index: -1000;" border="1" cellpadding="3" id="contract">
      <tbody>
      <tr>
        <th>Contract Number</th>
        <th>Contract Type</th>
        <th>Customer Name</th>
        <th>Start Date</th>
        <th>End Date</th>

      </tr>
      <tr *ngFor="let row of data">
        <td>{{row?.contractNumber}}</td>
        <td>{{row?.contractType.name}}</td>
        <td>{{row?.customer.name}}</td>
        <td>{{row?.startDate}}</td>
        <td>{{row?.endDate}}</td>

      </tr>
      </tbody>
    </table>