<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">{{'CONTRACT.viwAllContrcts' | translate}}</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container">
  <app-search (searchCanceled)="getAllContracts()"   [placholder]="msg" 
              (searchValue)="searchContract($event)"></app-search>

  <div class="uk-card uk-card-default uk-animation-slide-top-small">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages [(value)]="bigMessage"></p-messages>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
          <div class="alert  alert-danger" role="alert">
              <h4 class="alert-heading">{{'CONTRACT.AlertContracts' | translate}}</h4>
             <a (click)="openContractsAlmostDone()"> <p class="mb-0">{{'CUSTOMER.contractAlmostDone' | translate}}</p></a>
            </div>
      </div>
    </div>
    <div class="row uk-margin-bottom">
      <div class="col-md-offset-9 col-md-2">
        <button class="btn btn-dark" style="width:100%" (click)="openAddContractModal()">{{'CUSTOMER.AddContract' | translate}}</button>
      </div>
    </div>

    <app-contract-table (print)="printContracts()" [contracts]="allContracts"></app-contract-table>

  </div>
</div>



<!--<table style="position: absolute; z-index: -1000;" border="1" cellpadding="3" id="contract-table">
  <tbody>
  <tr>
    <th>Contract Number</th>
    <th>Contract Type</th>
    <th>Customer Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Price</th>
    <th>Remarks</th>
  </tr>
  <tr *ngFor="let row of allContracts">
    <td>{{row?.contractNumber}}</td>
    <td>{{row?.contractType.name}}</td>
    <td>{{row?.customer.name}}</td>
    <td>{{row?.startDate}}</td>
    <td>{{row?.endDate}}</td>
    <td>{{row?.price}}</td>
    <td>{{row?.remarks}}</td>
  </tr>
  </tbody>
</table>-->
