<div class="notification-transparent-background" [ngClass]="notificationBackgroundClass"
     (click)="toggleNotificationBody()"></div>

<nav class="navbar navbar-default whiteBackground">
  <div class="container-fluid" style="padding-bottom:14px;padding-top:12px">
    <div class="navbar-header">
      <img class="logoIcon" src="assets/Images/logo.png"/>
    </div>
      <ul class="nav navbar-nav" style="margin-top:10px;">
      <!--<li class="ListItem"><a href="./">Home </a></li>-->
      <!--<li class="ListItem"><a href="http://www.enmaa.com/aboutUs">About Us </a></li>-->
      <li>
        <select class="form-control lang-dropdown" [(ngModel)]="selectedLang" (change)="chooseLang(selectedLang)">
          <option *ngFor="let lang of languages" [value]="lang.symbol">{{lang.name}}</option>
        </select>
      </li>
    </ul>
    <ul class="nav navbar-nav"  *ngIf="authenticationService.isLoggedIn()">
      <li class="ListItem"><a href="./">{{'HEADER.HOME' |translate}} </a></li>
      <li class="ListItem"><a href="http://www.dasco.com.kw/about.html">{{'HEADER.ABOUT_US' |translate}}</a></li>
    </ul>

    <div class="RightPart" *ngIf="authenticationService.isLoggedIn()">
      <img class="Avatar" src="assets/Images/user.png"/>
      <div class="notification-section">
        <button class="notification-btn" [ngClass]="toggelingNotificationIconClass" (click)="toggleNotificationBody()">
          <i class="fa fa-bell-o bell"></i><i
          class="fa fa-circle dot" [hidden]="!newNotificationToggle"></i></button>
        <div [hidden]="!toggleNotification" class="notification-body uk-padding-small uk-animation-slide-top-small">
          <div *ngFor="let notification of notifications" (click)="routeToNotification(notification)">

            <p class="notification uk-padding-small uk-margin-remove
"
               *ngIf="notification.type == 'quotation'"><i class="fa fa-usd"></i>New Quotation created! <br>
              reference Number :
              <strong>({{notification?.refNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" *ngIf="notification.type == 'call'"><i
              class="fa fa-phone"></i> {{'SHARED.New_Call_created' | translate}} <br>
              {{'CALL.calerNumber' | translate}} :
              <strong>({{notification?.callerNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" [hidden]="notification.type != 'order'"><i
              class="fa fa fa-briefcase"></i> New/Updated Order !<br> code :
              <strong>({{notification?.code}})</strong></p>

          </div>
          <p [hidden]="notifications.length">{{"HEADER.NOTIFICTON" | translate}}</p>
        </div>
      </div>

      <div class="AfterLogin">
        <span class="nameLogged">{{'HEADER.WELCOME'|translate}} , {{authenticationService.CurrentUser().userName}} </span>
        <br/>
        <span class="LogOut"><u (click)="LogoutAll()">{{'HEADER.LOG_OUT'|translate}} </u></span>
      </div>
    </div>

  </div>
</nav>
