<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>
<form #newCustomerForm="ngForm"
      (ngSubmit)="newCustomerForm.valid && postNewCustomer() && newCustomerForm.reset()">

  <div ngModelGroup="customerInfo">

    <div class="row">

      <div class="form-group col-md-6 col-xs-12">
        <label>{{'CUSTOMER.NAME' |translate}}</label>
        <input class="form-control col-md-6" type="text" [(ngModel)]="newCustomer.name" name="name"
               placeholder="Customer Name"
               required>
        <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls?.name?.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
        </em>
      </div>

      <div class="form-group col-md-6 col-xs-12">
        <label>{{'CUSTOMER.TYPE' |translate}}</label>
        <select name="fK_CustomerType_Id" class="form-control" [(ngModel)]="newCustomer.fK_CustomerType_Id"
                [required]="newCustomer.fK_CustomerType_Id !== 0">
          <option [value]="undefined">{{'CUSTOMER.slcType' |translate}}</option>
          <option *ngFor="let type of customerTypes" [value]="type.id">{{type.name}}</option>
        </select>
        <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls?.fK_CustomerType_Id?.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
        </em>
      </div>
    </div>

    <div class="uk-margin-small-top row">
      <div *ngFor="let phone of newCustomer.customerPhoneBook; let i = index">
        <div class="form-group col-md-6 col-xs-12">
          <label>{{'ADMN.PHONTYP' |translate}}</label>
          <select [name]="'fK_PhoneType_Id' + i" required class="form-control" [(ngModel)]="phone.fK_PhoneType_Id">
            <option [value]="undefined">{{'CUSTOMER.slcType' |translate}}</option>
            <option *ngFor="let phoneType of phoneTypes" [value]="phoneType.id">{{phoneType.name}}</option>
          </select>
          <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls['fK_PhoneType_Id' + i]?.invalid">
            <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
          </em>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label>{{'CUSTOMER.PhoneNumber' |translate}}</label>
          <input type="tel" placeholder="Phone Number" minlength="8" maxlength="8" [name]="'phone' + i"
                 [required]="true"
                 class="form-control"
                 [(ngModel)]="phone.phone">
          <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.invalid">
            <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
          </em>
          <a *ngIf="i > 0" style="display:block;text-align: right" (click)="removePhone(i)"><i class="fa fa-close"></i>Remove</a>
        </div>
      </div>

      <div class="col-md-6 uk-margin-small-bottom">
        <a (click)="addNewPhone()">{{'ADD_NEW_CUSTOMER.ADD_PHONE' |translate}}</a>
      </div>

      <div class="form-group uk-margin-small-top col-xs-12">
        <label>{{'SHARED.REMARK' |translate}}</label>
        <textarea class="form-control" placeholder="{{'SHARED.SomeDescriptions' | translate}}"  [(ngModel)]="newCustomer.remarks"
                  name="remarks"></textarea>
      </div>
    </div>
  </div>
  <div class="uk-margin-large-bottom row">
    <div class="col-md-offset-9 col-md-3">
      <button class="btn btn-dark" type="button" style="float: right; width: 150px" *ngIf="existedCustomerData && !hideCustomerButtons"
              (click)="saveCustomerInfo(newCustomer)" [disabled]="newCustomerForm.controls?.customerInfo?.invalid">
              {{'SHARED.CONFIRM' |translate}}
      </button>
    </div>
  </div>

  <p-progressSpinner class="loading-spinner" [hidden]="!toggleLoadingLocation"></p-progressSpinner>

  <ul uk-accordion="collapsible: false" class="accordion-header uk-margin-small-top" [hidden]="toggleLoadingLocation">
    <li *ngFor="let location of newCustomer.locations; let i = index" [ngModelGroup]="'location' + i">
      <h4 class="uk-accordion-title sub-title" href="#">
        {{'CUSTOMER.adrs' |translate}} {{'' + (i+1)}} ({{location.title ? location.title: ' --'}})
      </h4>
      <!--<div class="uk-accordion-content">-->
      <div class="uk-accordion-content">
        <div class="row">
          <div class="form-group halfInput col-md-6 col-xs-12">
            <label>#{{'LOCATION.PACI' |translate}}</label>
            <input placeholder="#PACI" type="text" (keyup)="getByPaci(i)"
                   [required]="!location.governorate || !location.area || !location.block || !location.street"
                   [name]="'PACI' + i" [(ngModel)]="location.paciNumber"
                   class="form-control">
            <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['PACI' + i].invalid">
              <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
            </em>
          </div>
        </div>
        <div class="row">
          <div class="form-group halfInput col-md-6 col-xs-12">
            <label>{{'LOCATION.GOVERNORATE' |translate}}: </label>
            <select [required]="!location.paciNumber" [(ngModel)]="location.governorate" [name]="'governorate' + i"
                    class="form-control" (change)="getAreas(location)">
              <option [value]="undefined">-- {{'LOCATION.SelectGovernorate' |translate}} --</option>
              <option *ngFor="let t of governorates" [value]="t.name">{{t.name}}</option>
            </select>
            <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['governorate' + i].invalid">
              <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
            </em>
          </div>

          <div class="form-group halfInput col-md-6 col-xs-12">
            <label>{{'LOCATION.AREA' |translate}}: </label>
            <select [required]="!location.paciNumber" [disabled]="!location.governorate"
                    (change)="getBlocks(location)"
                    [(ngModel)]="location.area"
                    class="form-control" [name]="'area' + i">
              <option [value]="undefined">-- {{'LOCATION.SelectArea' |translate}}--</option>
              <option *ngFor="let t of location.areas" [value]="t.name">{{t.name}}</option>
            </select>
            <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['area' + i].invalid">
              <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
            </em>
          </div>

          <div class="form-group halfInput col-md-6 col-xs-12">
            <label>{{'LOCATION.BLOCK' |translate}}: </label>
            <select [required]="!location.paciNumber"
                    [disabled]="!location.area"
                    (change)="getStreets(location)"
                    [(ngModel)]="location.block"
                    class="form-control" [name]="'block' + i">
              <option [value]="undefined">-- {{'LOCATION.SelectBlock'|translate}} --</option>
              <option *ngFor="let t of location.blocks" [value]="t.name">{{t.name}}</option>
            </select>
            <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['block' + i].invalid">
              <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
            </em>
          </div>

          <div class="form-group halfInput col-md-6 col-xs-12">
            <label>{{'LOCATION.STREET' |translate}}: </label>
            <select [required]="!location.paciNumber"
                    [disabled]="!location.block"
                    [(ngModel)]="location.street"
                    class="form-control" [name]="'street' + i">
              <option [value]="undefined"> -- {{'LOCATION.SelectSTREET'|translate}} --</option>
              <option *ngFor="let t of location.streets" [value]="t.name">{{t.name}}</option>
            </select>
            <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['street'+i].invalid">
              <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
            </em>
          </div>

          <div class="form-group halfInput col-md-6 col-xs-12">
            <label>{{'LOCATION.TITLE'|translate}}</label>
            <input type="text" required [name]="'title' + i" [(ngModel)]="location.title"
                   class="form-control" placeholder="Title, for example (home)">
            <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['title' + i].invalid">
              <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' |translate}}
            </em>
          </div>

          <div class="form-group halfInput col-md-12 col-xs-12">
            <label for="note">{{'LOCATION.LOCDESC' |translate}} </label>
            <textarea rows="4" class="form-control" id="note" [name]="'AddressNote' + i"
                      [(ngModel)]="location.addressNote" ></textarea>
          </div>

        </div>
        <button style="float: right" class="btn btn-light" *ngIf="existedCustomerData && !hideCustomerButtons" type="button"
                [disabled]="newCustomerForm.controls['location'+i]?.invalid"
                (click)="saveLocation(location)">{{'SHARED.CONFIRM' |translate}}</button>
      </div>
      <!--<pre>{{location | json}}</pre>-->
    </li>
  </ul>

  <div class="row uk-margin-bottom" *ngIf="existedCustomerData ">
    <div class="col-md-4">
      <a (click)="addNewLocation()">
       {{'LOCATION.NEW_LOCATION' |translate}}
      </a>
    </div>
  </div>

  <div style="float: right">
    <button class="btn btn-default" *ngIf="!existedCustomerData" (click)="closeForm()" type="button">  {{'SHARED.clos' |translate}}</button>
    <button class="btn btn-dark" type="submit" *ngIf="!existedCustomerData">{{'CUSTOMER.savCustData' |translate}}</button>
  </div>

  <div *ngIf="hideCustomerButtons">
    <button class="col-md-2  btn btn-danger" (click)="closeCusomerForm()" type="button"> {{'SHARED.clos' |translate}}</button>
     <button class="col-md-2 col-md-offset-1 btn btn-primary"  [disabled]="disableForm" type="submit">{{'CUSTOMER.savCustData' |translate}}</button>
  </div>





</form>
