<!--<div class="set-time-container">-->
<!--<ngb-timepicker [spinners]="false" [(ngModel)]="time" [meridian]="true"></ngb-timepicker>-->

<!--</div>-->

<p-growl [(value)]="cornerMessage"></p-growl>

<div>
  <div class="modal-header">
    <h4 class="modal-title">{{'Dispcher.Set_Preferred_Visit_Time' | translate}}</h4>
  </div>

  <form #setTimeForm="ngForm" (ngSubmit)="setTimeForm.valid && setTime(setTimeForm.value)">
    <div class="modal-body">
      <div class="form-group" style="width: 100%; display: flex; flex-direction: column; align-items: center">
        <p-calendar [defaultDate]="defaultDate" [inline]="true" [(ngModel)]="order.preferedVisitTime" hourFormat="12"
                    name="day" [showTime]="true"
                    [showIcon]="true"
                    [required]="true">
          <ng-template pTemplate="date" let-date>
            <span
              [ngStyle]="{backgroundColor: (date.month < dateToShowOnCal.month && date.day == dateToShowOnCal.day && date.year == dateToShowOnCal.year) ? '#7cc67c' : 'inherit'}"
              style="border-radius:100%">{{date.day}}</span>
          </ng-template>
        </p-calendar>

        <em style="display: block" *ngIf="setTimeForm.submitted && setTimeForm?.controls?.day?.invalid"><i
          class="fa fa-exclamation-triangle"></i>{{'Dispcher.Please_select_visit_time' | translate}}</em>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" (click)="close()" class="btn btn-default">{{'Dispcher.clos' | translate}}</button>
      <button type="submit" class="btn btn-dark">{{'Dispcher.SetVisittime' | translate}}</button>
    </div>
  </form>

</div>
