<div class="uk-padding">
  <p><strong>{{'Dispcher.CODE' | translate}}:</strong> {{order?.code}}</p>
  <p><strong>{{'Dispcher.TYPE' | translate}}:</strong> {{order?.orderType?.name}}</p>
  <p><strong>{{'Dispcher.STATUS' | translate}}:</strong> {{order?.orderStatus?.name}}</p>
  <p><strong>{{'Dispcher.PRIORITY' | translate}}:</strong> {{order?.orderPriority?.name}}</p>
  <p><strong>{{'Dispcher.custName' | translate}}:</strong> {{order?.customer?.name}}</p>
  <p><strong>{{'Dispcher.Phone' | translate}}:</strong> {{order?.customer?.customerPhoneBook[0].phone}}</p>
</div>
