/* line 1, logs-history.component.scss */
h3 {
  border-bottom: 1px solid white;
}

/* line 5, logs-history.component.scss */
table {
  background-color: rgba(250, 250, 250, 0.8);
  color: black;
}
/* line 8, logs-history.component.scss */
table tr {
  transition: 0.5s all;
}
/* line 10, logs-history.component.scss */
table tr td, table tr th {
  border: 1px solid grey;
}
/* line 15, logs-history.component.scss */
table tr:hover {
  background-color: #fafafa;
  transition: 0.5s all;
}
/* line 22, logs-history.component.scss */
table thead tr:first-child {
  cursor: default;
  background-color: lightgrey;
}
