<div class="uk-card uk-card-default">

  <!--<div class="row">-->
  <div class="col-md-offset-1">
    <h4 class="sub-title">{{'Dispcher.ordrReport' | translate}}</h4>
  </div>
  <!--</div>-->

  <app-order-filter (filteredOrders)="applyFilter($event)" [type]="'report'" (resetFilter)="getAllOrdersByDis()"
                    (orderProgressMode)="applyOrderProgressMode($event)"></app-order-filter>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      <ngx-datatable class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                     [selected]="[]"
                     [selectionType]="'falsey'">

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="false"
                              [checkboxable]="false">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.code" name="{{'Dispcher.CODE' | translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="createdDateView" name="{{'Dispcher.CREATED_DATE' | translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderStatus.name" name="{{'Dispcher.STATUS' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderType.name" name="{{'Dispcher.TYPE' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderPriority.name" name="{{'Dispcher.PRIORITY' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderProblem.name" name="{{'Dispcher.Problem' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.customer.name" name="{{'Dispcher.custName' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="phoneView" name="{{'Dispcher.custPhone' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.governorate" name="{{'Dispcher.GOVERNORATE' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.area" name="{{'Dispcher.AREA' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='50' prop="order.location.block" name="{{'Dispcher.BLOCK' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.street" name="{{'Dispcher.STREET' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.dispatcherName" name="{{'Dispcher.dispchrNam' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.technicanName" name="{{'Dispcher.techNam' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="order.note" name="{{'ORDER.notes' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="{{'Dispcher.Attachments' | translate}}">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank"
               [href]="row?.order?.signatureURL" [hidden]="!row.order.signatureURL">{{'Dispcher.Attached_Image' | translate}}</a>
            <em [hidden]="row.order.signatureURL">({{'Dispcher.Not_available' | translate}})</em>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="{{'Dispcher.Signature' | translate}}">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank"
               [href]="row?.order?.signatureContractURL" [hidden]="!row.order.signatureContractURL">{{'Dispcher.Signature_Image' | translate}}</a>
            <em [hidden]="row.order.signatureContractURL">({{'Dispcher.Not_available' | translate}})</em>
          </ng-template>
        </ngx-datatable-column>

        <!--************** ORDER PROGRESS INFO **************-->

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.progressStatus.name"
                              name="{{'Dispcher.ORDRPROGRS' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.createdDateView"
                              name="{{'Dispcher.Progress_Date' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.createdBy.userName"
                              name="{{'Dispcher.Progress_Creator' | translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='150' prop="orderProgress.technicanName"
                              name="{{'Dispcher.Progress_by_Tecnician' | translate}}">
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>
