<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{'SHARED.Release' | translate}}</h4>
</div>

<form *ngIf="!toggleLoading" autoComplete="off" #releaseForm="ngForm" autocomplete="off"
      (ngSubmit)="releaseForm.valid && confirm(data)">

  <div class="modal-body">

    <div class="form-group">
      <label>{{'REPORT.quant' | translate}} :</label>
      <input type="number" class="form-control" placeholder="{{'REPORT.please_type_Quantity' | translate}} ..." name="currentAmount" [(ngModel)]="data.currentAmount"
             required>
      <em
        *ngIf="releaseForm.submitted && releaseForm.controls?.currentAmount?.invalid"><i
        class="fa fa-exclamation-triangle"></i>{{'ADMN.This_field_is_required' | translate}}</em>
    </div>

    <div class="modal-footer">
      <button class="btn" (click)="activeModal.dismiss()">{{'Dispcher.clos' | translate}}</button>
      <button class="btn btn-primary" type="submit">{{'SHARED.CONFIRM' | translate}}</button>
    </div>
  </div>
</form>

