
<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="closeModal()" >
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" > Order Status </h4>
</div>

<div class="modal-body">

  <form #order="ngForm" autocomplete="off" (ngSubmit)="order.valid && submitOrder(order.value)">

    <fieldset [disabled]="disabled">

      <div class="row">
        <div class="form-group col-md-6">
          <h4>Order Code</h4><label>{{data?.code}}</label>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <h4>Order Status</h4><label>{{data?.orderStatus?.name}}</label>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <h4>Technician Name</h4><label>{{data.technicanName==undefined?'unassigned':data.technicanName}}</label>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          
          <h4>Dispatcher Name</h4><label>{{data.dispatcherName==undefined?'unassigned':data.dispatcherName}}</label>

        </div>
      </div>


    </fieldset>

    <div class="row">

      <div  class="col-md-3">
        <button (click)="closeModal()" class="btn btn-default" style="width:100%">Close</button>
      </div>


    </div>
  </form>

</div>


