<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>

<div class="container uk-animation-slide-top-small uk-card-default uk-margin-top" *ngIf="!toggleLoading">

  <ul class="uk-child-width-expand tabs" uk-tab *ngIf="customerId">
    <li class="uk-active " (click)="setActiveTab('info')"><a class="tabSize">{{'CUSTOMER.custInfo' |translate }}</a></li>
    <li (click)="setActiveTab('contracts')"><a href="#">{{'SIDBAR.contrct' |translate }}</a></li>
    <li (click)="setActiveTab('orders')"><a href="#">{{'CUSTOMER.orders' |translate }}</a></li>
    <li (click)="setActiveTab('calls')"><a href="#">{{'SIDBAR.calsHistory' |translate }}</a></li>
  </ul>

  <app-add-new-customer [alreadyExisted]="true" *ngIf="!customerId"></app-add-new-customer>

  <div *ngIf="customerId">

    <!--/*Customer Info form goes here*/-->

    <app-add-edit-customer *ngIf="activeTab == 'info'"
                           [existedCustomerData]="existedCustomerData"></app-add-edit-customer>

    <app-existed-customer-contracts [id]="customerId"
                                    *ngIf="activeTab == 'contracts'"></app-existed-customer-contracts>

    <div *ngIf="activeTab == 'orders'" class="uk-card uk-card-default">
      <app-order-table [orders]="existedOrders"></app-order-table>
    </div>

    <div *ngIf="activeTab == 'calls'" class="uk-card uk-card-default">
      <app-call-table [calls]="existedCalls"></app-call-table>
    </div>
  </div>

</div>
