<!--<form #dateForm="ngForm" (ngSubmit)="testForm()" (change)="testForm()">-->

<div class="form-group"  *ngIf="condition" [ngClass]="layoutClass">
  <label style="display: block">{{'REPORT.SFDate' | translate}}:</label>
  <!-- {{startDateLable ||'Start from Date'}}  -->
  <p-calendar name="startDate" (onSelect)="emitStartDate()" [(ngModel)]="date.startDate" [showIcon]="true"
              ></p-calendar>

  <em style="display: block" *ngIf="submitted && !date.startDate && required"><i
    class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}</em>
</div>

<div class="form-group"  *ngIf="condition" [ngClass]="layoutClass">
  <label style="display: block">{{'REPORT.EADate' | translate}}:</label>
  <!-- {{endDateLable || 'End at Date'}} -->
  <p-calendar name="endDate" (onSelect)="emitEndDate()" [(ngModel)]="date.endDate" [showIcon]="true"
  ></p-calendar>
  <em style="display: block" *ngIf="submitted && !date.endDate && required"><i
    class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}</em>
</div>

<!--<button type="submit">submit test</button>-->
<!--</form>-->
