<div *ngIf="type == 'report' || type == 'order board'" class="beforeFilterTemp"></div>
<form #filterForm="ngForm" class="filter-form" (submit)="applyFilter()">

  <div class="sections-container">

    <div class="filter-form-section" *ngIf="type=='order board'">
      <div class="form-group">
        <label>{{'Dispcher.ordeNo' | translate}}</label>
        <input class="form-control" placeholder="{{'Dispcher.ordeNo' | translate}}" name="orderNo" [(ngModel)]="filter.orderNo">
      </div>
    </div>

    <div class="filter-form-section">
      <label>{{'Dispcher.STATUS' | translate}}</label>
      <p-multiSelect name="status " [options]="allStatus"
                     [(ngModel)]="filter.status"
                     optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section">
      <label>{{'Dispcher.Problems' | translate}}</label>
      <p-multiSelect name="problem" [options]="allProblems" [(ngModel)]="filter.problems"
                     optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section" *ngIf="type!='order board'">
      <label>{{'Dispcher.dispchers' | translate}}</label>
      <p-multiSelect name="dispatchers" [options]="allDispatchers" [(ngModel)]="filter.dispatchers"
                     optionLabel="userName"></p-multiSelect>
    </div>

    <div class="filter-form-section" *ngIf="type!='order board'">
      <label>{{'Dispcher.techins' | translate}}</label>
      <p-multiSelect name="tecs" [options]="tecs" [(ngModel)]="filter.tecs"
                     optionLabel="userName"></p-multiSelect>
    </div>

    <app-date-from-to [startDateLable]="Created_Date_Start" [endDateLable]="Created_Date_End"
                      class="filter-form-section" [required]="false"
                      [submitted]="filterForm.submitted"
                      (startDate)="setStartDateFrom($event)" (endDate)="setStartDateTo($event)"
    ></app-date-from-to>

    <div class="filter-form-section" *ngIf="type == 'report'">
      <label>{{'Dispcher.ORDRPROGRS' | translate}}</label>
      <input type="checkbox" class="uk-checkbox" name="hasOrderProgress"
             [(ngModel)]="filter.hasOrderProgress">
    </div>

  </div>

  <div class="buttons-container">

    <button *ngIf="type == 'report'" (click)="exportCsv()" type="button" class="btn btn-light report-button"
            [disabled]="!reportOrders.length">{{'Dispcher.EXPORT' | translate}}
    </button>

    <button *ngIf="type == 'map'" (click)="emitTodayOrders()" type="button" class="btn btn-light">{{'Dispcher.ordrToday' | translate}}
    </button>

    <button *ngIf="type == 'report' || type == 'order board'" (click)="applyResetFilter()" type="button"
            class="btn btn-light report-button">
      {{'Dispcher.RESET' | translate}}
    </button>

    <button [disabled]="checkFilter()" type="submit" class="btn btn-dark report-button">{{'Dispcher.FILTER' | translate}}</button>
  </div>
</form>
