
.BackStat {
  width: 100%;
  height: 450px;;
}

.loginForm {
  /*background-color: white;*/
  margin-top: 65px;
  /*border-radius: 2px;*/
  /*border: 1px solid #aaa;*/
  min-height: 180px;
}

.alertMsgs {
  margin-top: 20px;
}

.bluetxt {
  color: rgba(18, 120, 255, 0.91);
}

.SmallTxt {
  font-size: 16px;
  color: #02466b;
}

.LogoutBtn {
  position: absolute;
  top: 32px;
  right: 19px;
}
