<div class="order-card uk-card uk-card-default">

  <label class="clickable">
    <h4 class="order-number">
      <input [id]="order.id" *ngIf="bulkAssignMode" (change)="selectOrder()" type="checkbox">#{{order?.code}}
    </h4>
  </label>

  <h4 class="name">{{'Dispcher.NAME' | translate}}: {{order?.customer?.name}}</h4>

  <h4>{{'Dispcher.AREA' | translate}}: {{order?.location?.area}}</h4>
  <h4>{{'Dispcher.PRIORITY' | translate}}: {{order?.orderPriority?.name}}</h4>
  <!--<h4>priority</h4>-->

  <div *ngIf="currentDetailedOrderId == order?.id" class="hidden-details uk-animation-slide-top-small">
    <h4>{{'Dispcher.STATUS' | translate}}: {{order?.orderStatus?.name}}</h4>
    <!--<h4>status</h4>-->
    <h4>{{'Dispcher.TYPE' | translate}}: {{order?.orderType?.name}}</h4>
    <!--<h4>type</h4>-->
    <h4>{{'Dispcher.strt' | translate}}: {{order?.startDateView}}</h4>
    <h4>{{'Dispcher.end' | translate}} :{{order?.endDateView}}</h4>
    <h4 *ngIf="order?.note">{{'Dispcher.note' | translate}}: {{order?.note}}</h4>
  </div>

  <button (click)="setCurrentDetailedOrderId(null)" *ngIf="currentDetailedOrderId == order?.id"
          class="more-button"><i
    class="fa fa-minus"></i> {{'Dispcher.lesDetils' | translate}}
  </button>

  <button (click)="setCurrentDetailedOrderId(order.id)" *ngIf="currentDetailedOrderId != order?.id"
          class="more-button"><i
    class="fa fa-plus"></i> {{'Dispcher.morDetils' | translate}}
  </button>

  <div class="button-group">
    <button class="btn-light" (click)="openEditOrderModal(order)" pTooltip="{{'Dispcher.EDIT_ORDER' | translate}}" tooltipPosition="top"><i
      class="fa fa-pencil-square-o"></i></button>

    <button class="btn-light" pTooltip="{{'Dispcher.SetVisittime' | translate}}" tooltipPosition="top"
            (click)="openSetTimeModal(order)"><i class="fa fa-clock-o"
                                                 aria-hidden="true"></i>
    </button>

    <button class="btn-light" (click)="openTransfer(order)" pTooltip="{{'Dispcher.transferOrder' | translate}}" tooltipPosition="top"><i
      class="fa fa-exchange"
      aria-hidden="true"></i>
    </button>
    <!--<button class="btn-light" (click)="openOrderProgressModal(order)" pTooltip="Order progress" tooltipPosition="top"><i
      class="fa fa-tasks"
      aria-hidden="true"></i>
    </button>-->
  </div>

</div>
