<div class="search-section uk-card uk-card-default">
  <div class="row">
    <form #searchForm="ngForm" name="searchForm" class="search-form" novalidate autocomplete="off"
          (submit)="searchForm.valid && outPutSearchValue(searchForm)">
      <div class="search-bar-container col-md-offset-1 col-md-8">
        <button (click)="clearSearch()" [hidden]="!searchText || !hideFromTo" type="button" class="cancel-button"><i
          class="fa fa-close"></i> {{'SHARED.SEARCH_CNCL'|translate}}
        </button>
        <input type="text" [(ngModel)]="searchText" name="searchText"
               [placeholder]="placholder"
               class="form-control seachBar">

        <div [hidden]="hideFromTo" *ngIf="hideDate" style="display: block">

          <!--<app-date-from-to [required]="false" [submitted]="submitted"></app-date-from-to>-->
          <div class="col-md-6">
            <label>{{'SIDBAR.dataF'|translate}}:</label>
            <input type="date" [(ngModel)]="fromDate" name="fromDate"
                   class="form-control seachBar">
          </div>
          <div class="col-md-6">
            <label>{{'SIDBAR.dataE'|translate}}:</label>
            <input type="date" [(ngModel)]="toDate" name="toDate"
                   class="form-control seachBar">
          </div>

        </div>

      </div>
      <div class="col-md-2">
        <button (click)="toggleErrorFlag()" type="submit" class="btn btn-add button"><i class="fa fa-search"
                                                                                        aria-hidden="true"></i>
        {{'SHARED.Search'|translate}}
        </button>
        <button (click)="clearSearch()" type="button" class="btn btn-dark btn-reset button" [hidden]="hideFromTo"
                style="margin-top: 20px"><i class="fa fa-trash-o"
                                            aria-hidden="true"></i>
                                            {{'SHARED.RESET'|translate}}
        </button>
      </div>
    </form>
  </div>

  
</div>
