<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading">

  <div class="row">

    <p-dataTable [rows]="10" #dt [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [value]="disWithProbs">
      <p-column header="{{'ADMN.Name' | translate}}">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top" (click)="openEditModal(row)" pTooltip="{{'ADMN.Edit' | translate}} {{row?.dispatcher?.userName}}">
            {{row?.dispatcher?.userName}}</h4>
        </ng-template>
      </p-column>

      <p-column field="area" header="{{'ADMN.Areas' | translate}}" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
          <p-multiSelect [options]="allAreas" defaultLabel="{{'ADMN.All_Areas' | translate}}"
                         (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                         styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
      </p-column>

      <p-column field="orderProblem.name" header="{{'ADMN.Problems' | translate}}" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
          <p-multiSelect [options]="allProblems" defaultLabel="{{'ADMN.All_Problems' | translate}}"
                         (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                         styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
      </p-column>

      <p-column header="{{'ADMN.REMOVE' | translate}}">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <button [hidden]="row?.orderProblem?.name == '-'" class="btn btn-danger" (click)="remove(row)"><i
            class="fa fa-close"></i>{{'ADMN.REMOVE' | translate}}
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
