<div class="row">
  <div class="col-xs-12 ">

    <div class="row uk-card uk-card-default uk-animation-slide-top-small">
      <div class="col-xs-12 title">
        <h4 class="mpt-0" *ngIf="!lockForm">
          <i class="AddUsericon glyphicon glyphicon-plus"></i>
          <span class="AlignSup">{{'CUSTOMER.adNewCal' |translate }}</span>
        </h4>

        <h4 class="mpt-0" *ngIf="lockForm">
          <i class="AddUsericon glyphicon glyphicon-plus"></i> <span class="AlignSup">{{'CUSTOMER.ExitCal' |translate }}</span>
        </h4>
      </div>

      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
          <li [ngClass]="{'active':selectedTab== 'tab1'}"><a> {{'ADD_NEW_CUSTOMER.INFO' |translate }}</a></li>
        </ul>
      </div>

      <form #form="ngForm" (ngSubmit)="form.valid && ContinueAdd(form.value)">

        <div *ngIf="selectedTab== 'tab1'" class="col-xs-12 EditPanel">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="form-group halfInput">
                <label for="Name">{{'CALL.calerName' |translate }}: *</label>
                <input type="text" [(ngModel)]="newCall.callerName" class="form-control"
                       id="Name" name="callerName"
                       #Name="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && Name.invalid }"
                       required [disabled]="lockForm">
                <small *ngIf="form.submitted && form.controls?.callerName.invalid" class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>
              <div class="form-group halfInput">
                <label for="Type">{{'CALL.calType' |translate }}: *</label>
                <select [(ngModel)]="newCall.fK_CallType_Id" [disabled]="lockForm" class="form-control"
                        name="fK_CallType_Id"
                        #CustType="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && CustType.invalid }"
                        required>
                  <option [value]="undefined">--{{'CALL.SelcalType' |translate }} --</option>
                  <option *ngFor="let t of callTypes" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="form.submitted && form.controls?.fK_CallType_Id.invalid" class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>

              <div class="form-group halfInput" *ngIf="newCall.fK_CallType_Id ==1">
                <label for="Type">{{'CALL.SelectCustomer' |translate }} : *</label>
                <select [(ngModel)]="newCall.FK_Customer_Id" [disabled]="lockForm" class="form-control"
                        name="FK_Customer_Id"
                        (change)="CustomerSelected()"
                        #FK_Customer="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && FK_Customer.invalid }"
                        required>
                  <option [value]="undefined">-- {{'CALL.SelectCustomer' |translate }} --</option>
                  <option *ngFor="let t of customers" [value]="t.id">{{t.name}}</option>
                </select>
                <small *ngIf="form.submitted && form.controls?.FK_Customer_Id.invalid" class="text-danger ErrorLable">
                  {{'CALL.CustomerRequired' |translate }}
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="Priority">{{'CALL.calPriorty' |translate }}: *</label>
                <select [(ngModel)]="newCall.fK_CallPriority_Id" class="form-control" name="fk_CallPriority_id"
                        #callPriority="ngModel"
                        [ngClass]="{ 'has-error': (firstSubmitTry || firstStep) && callPriority.invalid }"
                        required [disabled]="lockForm || newCall.fK_CallType_Id ==1 ">
                  <option [value]="undefined">-- {{'CALL.SelectPriorities' |translate }}--</option>
                  <option *ngFor="let t of priorities" [value]="t.id">{{t.name}}</option>
                </select>

                <small *ngIf="form.submitted && form.controls?.fk_CallPriority_id.invalid"
                       class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">

              <div class="form-group halfInput" *ngFor="let t of TotalPhone ;let i = index" [attr.data-index]="i">
                <label for="phone">{{'ADD_NEW_CUSTOMER.PHONE' |translate}}: * </label>
                <input type="tel" placeholder="Phone Number" [(ngModel)]="newCall.callerNumber" class="form-control"
                       minlength="8" maxlength="8"
                       name="callerNumber"
                       #phone="ngModel" [ngClass]="{ 'has-error': (firstSubmitTry || firstStep)  && phone.invalid }"
                       required [disabled]="lockForm">

                <small *ngIf="form.submitted && form.controls?.callerNumber.invalid" class="text-danger ErrorLable">
                  {{'CALL.PhoneRequired' |translate}}
                </small>
              </div>

              <div class="form-group halfInput">
                <label>{{'ADMN.PHONTYP' |translate}}:*</label>
                <select class="form-control" [(ngModel)]="newCall.fK_PhoneType_Id" name="fK_PhoneType_Id"
                        [disabled]="lockForm" required>
                  <option [value]="undefined">-- {{'ADMN.PHONTYP' |translate}} --</option>
                  <option *ngFor="let type of phoneTypes" [value]="type.id">{{type.name}}</option>
                </select>
                <small *ngIf="form.submitted && form.controls?.fK_PhoneType_Id.invalid" class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="remark">  {{'CUSTOMER.custDesc' |translate}}:*</label>
                <textarea rows="4" class="form-control" name="customerDescription"
                          [(ngModel)]="newCall.customerDescription"
                          id="remark" [disabled]="lockForm" required></textarea>
                <small *ngIf="form.submitted && form.controls?.customerDescription.invalid"
                       class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>
            </div>
          </div>

          <h4>{{'LOCATION.NEW_LOCATION' |translate}}</h4>
          <div class="row">
            <div class="col-xs-12 ">
              <h5>{{'LOCATION.LOCATION_NOTE' |translate}}</h5>
            </div>

            <div class="col-xs-12">
              <div class="form-group halfInput">
                <label for="PACI">{{'LOCATION.PACI' |translate}}# :</label>
                <input type="text" placeholder="#PACI" name="paciNumber" [(ngModel)]="newCall.paciNumber"
                       class="form-control" id="PACI"
                       [required]="!newCall.street"
                       (keyup)="checktoSearch($event)" [disabled]="lockForm">
                <small *ngIf="form.submitted && form.controls?.paciNumber.invalid"
                       class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>

              <p-progressSpinner class="loading-spinner" *ngIf="toggleLocationLoading"></p-progressSpinner>


              <div [hidden]="toggleLocationLoading">
                <div class="form-group halfInput">
                  <label for="Government">{{'LOCATION.GOVERNORATE' |translate}}: </label>
                  <select [(ngModel)]="newCall.governorate" name="governorate" class="form-control"
                          [required]="!newCall.paciNumber"
                          (change)='CallArea();isDirty=true' [disabled]="showG" *ngIf="!lockForm">
                    <!--[disabled]="showG"-->
                    <option [value]="undefined">-- {{'LOCATION.SelectGovernorate' |translate}} --</option>
                    <option *ngFor="let t of Governorates" (click)="CallArea(t.id)" [value]="t.name">{{t.name}}</option>
                  </select>

                  <input type="text" name="governorate"
                         [(ngModel)]="newCall.governorate" class="form-control"
                         id="governorate"
                         [disabled]="lockForm" *ngIf="lockForm">

                  <small *ngIf="form.submitted && form.controls?.governorate.invalid"
                         class="text-danger ErrorLable">
                    {{'REPORT.fildRequir' |translate}}
                  </small>
                </div>

                <div class="form-group halfInput">
                  <label for="area">{{'LOCATION.AREA' |translate}}: </label>
                  <select [required]="!newCall.paciNumber" [(ngModel)]="newCall.area" class="form-control" name="area"
                          (change)='CallBlock();isDirty=true'
                          [disabled]="showA" *ngIf="!lockForm">
                    <option [value]="undefined">-- {{'LOCATION.SelectArea' |translate}} --</option>
                    <option *ngFor="let t of areas" [value]="t.name">{{t.name}}</option>
                  </select>

                  <input [required]="!newCall.paciNumber" type="text" name="area" [(ngModel)]="newCall.area"
                         class="form-control"
                         [disabled]="lockForm" *ngIf="lockForm">

                  <small *ngIf="form.submitted && form.controls?.area.invalid"
                         class="text-danger ErrorLable">
                    {{'REPORT.fildRequir' |translate}}
                  </small>

                </div>

                <div class="form-group halfInput">
                  <label for="block"> {{'LOCATION.BLOCK' |translate}}: </label>
                  <select [required]="!newCall.paciNumber" [(ngModel)]="newCall.block" class="form-control" name="block"
                          (change)='CallStreet();isDirty=true'
                          [disabled]="showB" *ngIf="!lockForm">
                    <option [value]="undefined">--  {{'LOCATION.SelectBlock' |translate}} --</option>
                    <option *ngFor="let t of blocks" [value]="t.name">{{t.name}}</option>
                  </select>

                  <input type="text" name="block" [(ngModel)]="newCall.block" class="form-control"
                         [disabled]="lockForm" *ngIf="lockForm">

                  <small *ngIf="form.submitted && form.controls?.block.invalid"
                         class="text-danger ErrorLable">
                    {{'REPORT.fildRequir' |translate}}
                  </small>

                </div>
                <div class="form-group halfInput">
                  <label for="street">{{'LOCATION.STREET' |translate}}: </label>
                  <select [required]="!newCall.paciNumber" [(ngModel)]="newCall.street" class="form-control"
                          name="street"
                          (change)='CallGetStreat();isDirty=true'
                          [disabled]="showS" *ngIf="!lockForm">
                    <option [value]="undefined">-- {{'LOCATION.SelectSTREET' |translate}} --</option>
                    <option *ngFor="let t of streets" [value]="t.name">{{t.name}}</option>
                  </select>

                  <input [required]="!newCall.paciNumber" type="text" name="street" [(ngModel)]="newCall.street"
                         class="form-control"
                         [disabled]="lockForm"
                         *ngIf="lockForm">

                  <small *ngIf="form.submitted && form.controls?.street.invalid"
                         class="text-danger ErrorLable">
                    {{'REPORT.fildRequir' |translate}}
                  </small>

                </div>
              </div>

              <div class="form-group halfInput">
                <label for="note">{{'LOCATION.TITLE' |translate}}: </label>
                <input type="text" required class="form-control" name="title"
                       [(ngModel)]="newCall.title" [disabled]="lockForm" required>
                <small *ngIf="form.submitted && form.controls?.title.invalid"
                       class="text-danger ErrorLable">
                  {{'REPORT.fildRequir' |translate}}
                </small>
              </div>

              <div class="form-group halfInput">
                <label for="note">{{'LOCATION.LOCDESC' |translate}}: </label>
                <textarea rows="4" class="form-control" id="note" name="AddressNote"
                          [(ngModel)]="newCall.addressNote" [disabled]="lockForm"></textarea>
              </div>

            </div>
          </div>

          <div class="col-xs-12 col-md-12 mt-20">

            <button *ngIf="lockForm" type="button" class="btn btn-primary centerBtn" (click)="routeToLogs()">
              {{'LOCATION.ViewActions' |translate}}
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

            <button *ngIf="!lockForm" type="submit" class="btn btn-primary centerBtn">
              {{'SHARED.CONFIRM' |translate}}
            </button>
          </div>
        </div>
      </form>

    </div>


  </div>
</div>
