<p-growl [(value)]="cornerMessage" life="5000"></p-growl>

<div class="col-md-offset-1">
  <h3 class="sub-title heading">{{'CALL.LISTOFCALLS'|translate }}</h3>
   <div class=" col-md-offset-9 col-md-2">
    <button class="btn btn-dark" (click)="exportCsv()">{{'CUSTOMER.Export'|translate }}</button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <ngx-datatable class="material expandable" [rows]="calls.reverse()" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="15"
                   [selected]="[]">
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <!--<ngx-datatable-column [width]='60' prop="id" name="ID"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='90' prop="callerName" name="{{'CALL.calerName'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='350' prop="area" name="{{'CUSTOMER.adrs'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.block}} {{row.street}},{{row.area}},{{row.governorate}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="callerNumber" name="{{'CALL.calerNumber'|translate}}"
                         ></ngx-datatable-column>

      <ngx-datatable-column [width]='90' prop="callStatus"
                          name="{{'CALL.CallStatus'|translate}}"></ngx-datatable-column>

      <!--<ngx-datatable-column [width]='90' prop="callType.name"-->
      <!--name="Call Type"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='200' prop="id" name="{{'LOCATION.Actions'|translate}}" >
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <p-splitButton styleClass="ui-button-warning" label="{{'LOCATION.ViewActions'|translate}}" appendTo="body" icon="fa-check"
                         (onClick)="routeToLogs(row.id)" (onDropdownClick)="setActiveRow(row, content)"
                         [model]="buttonsList"></p-splitButton>

        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [width]="200" prop="id" name=" ">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-info" [disabled]="row.fK_Customer_Id > 0" appendTo="body" (onDropdownClick)="setActiveRow(row)" (click)="convertToCustomer(row)">
            <b *ngIf="!row.fK_Customer_Id > 0">{{'LOCATION.ConvertToCustomer'|translate }}</b>
            <b *ngIf="row.fK_Customer_Id > 0">{{'CUSTOMER.Customer'|translate }}</b>

          </button>
        </ng-template>
      </ngx-datatable-column>

      
      <ngx-datatable-column [width]="150" prop="id" name=" ">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-primary" appendTo="body" (onDropdownClick)="setActiveRow(row)" (click)="routeToGenerateOrder(row.id)">
            <i></i>{{'ORDER.gnertOrder'|translate }}
          </button>
        </ng-template>
      </ngx-datatable-column>




      <!--<ngx-datatable-column *ngIf="roles.includes('Maintenance')" [width]='200' prop="id" name="Estimations">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <button *ngIf="!row.hasEstimation" class="btn btn-dark" (click)="roueToNewEstimation(row.id)">
            <i class="fa fa-file-text"></i> New
            Estimation
          </button>

          <p *ngIf="row.hasEstimation"><strong>{{row.estimationRefNo}}</strong></p>

        </ng-template>
      </ngx-datatable-column>-->

    </ngx-datatable>

  </div>
</div>


<!--MODAL BOOTSTRAP ANGULAR 2-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>{{'ADMN.NewAction'|translate }}</h4>
  </div>

  <form #actionForm="ngForm" name="actionForm" autocomplete="off" (ngSubmit)="actionForm.valid && c(actionForm.value)">
    <div class="modal-body">
      <div class="form-group halfInput">
        <label>{{'ADMN.ACTNSTUTS'|translate }}</label>
        <select class="form-control" name="fk_CallStatus_Id" [(ngModel)]="newAction.fk_callStatus_id" required>
          <option *ngIf="!newAction.fk_CallStatus_Id" [value]="undefined" [selected]="true">--{{'ADMN.ChooseSTAt'|translate }}--</option>
          <option *ngFor="let status of statuses" [value]="status.id">{{status?.name}}</option>
        </select>
        <em *ngIf="actionForm.submitted && actionForm.controls?.fk_CallStatus_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i> {{'REPORT.fildRequir'|translate }}
        </em>
      </div>

      <div class="form-group halfInput">
        <label> {{'REPORT.desc'|translate }}</label>
        <textarea class="form-control" rows="4" name="customerServiceComment"
                  (ngModel)="newAction.customerServiceComment"
                  required></textarea>
        <em *ngIf="actionForm.submitted && actionForm.controls?.customerServiceComment.invalid">
          <i class="fa fa-exclamation-triangle"></i> {{'REPORT.fildRequir'|translate }}
        </em>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c()"> {{'SHARED.clos'|translate }}</button>
      <button type="submit" class="btn btn-primary"> {{'CUSTOMER.Submit'|translate }}</button>
    </div>
  </form>
</ng-template>
