<!--<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>-->
<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <h4 class="sub-title">{{'CONTRACT.lstOsContrcts' | translate}}</h4>
  </div>
  <div class="col-md-offset-1 col-md-2">
    <button class="btn btn-dark" (click)="emitPrint()">{{'CUSTOMER.prnt' | translate}}</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-dark" (click)="exportCsv()">{{'CUSTOMER.Export' | translate}}</button>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <ngx-datatable class="material expandable" [rows]="contracts?.reverse()" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                   [selected]="[]">
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='120' prop="contractNumber" name="{{'CONTRACT.NUMBER'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='120' prop="contractType.name" name="{{'ADMN.CORCTTYP'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='120' prop="customer.name" name="{{'REPORT.custName'|translate}}"
                           ></ngx-datatable-column>

      <ngx-datatable-column [width]='90' prop="startDate" name="{{'REPORT.SFDate'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='90' prop="endDate" name="{{'REPORT.EADate'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='70' prop="price"  name="{{'SHARED.PRICE'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="remarks"  name="{{'SHARED.REMARK'|translate}}" ></ngx-datatable-column>

      <ngx-datatable-column [width]='150' prop="" name="{{'SHARED.Attachements'|translate}}" name="Attachements">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <a style="display: inline" target="_blank" *ngFor="let u of row.contractFiles"
             [href]="u.url">{{u.fileName}}, </a>
        </ng-template>
      </ngx-datatable-column>

      <!--<ngx-datatable-column [width]='150' prop="" name="Estimation Reference">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <a
            style="display: inline; font-weight: bold;"
            (click)="routeToEstimation(row?.contractQuotations[0]?.quotation?.estimation?.id)">{{row?.contractQuotations[0]?.quotation?.estimation?.refNumber}}</a>
        </ng-template>
      </ngx-datatable-column>-->

      <ngx-datatable-column [width]='200' prop="id"  name="{{'CONTRACT.NAME'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <p-splitButton  label="{{'CONTRACT.CreateOrder'|translate}}" appendTo="body" icon="fa-check"
                         (onClick)="routeToGenerateOrder(row.id)" (onDropdownClick)="setActiveRow(row)"
                         [model]="buttonsList"></p-splitButton>

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>
