<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{'Dispcher.cotrctNo' | translate}}.: {{data.data.contract.contractNumber}} </h4>
</div>

<div class="modal-body">
  <div class="form-group">
    <div class="col-md-6">
      <label>{{'Dispcher.custName' | translate}}:</label>
      <h5>{{data.data.customer.name}}</h5>
    </div>
    <div class="col-md-6">
      <label>{{'Dispcher.custPhone' | translate}}:</label>
      <h5>{{data.data.customer.phone}}</h5>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label>{{'Dispcher.GOVERNORATE' | translate}}:</label>
      <h5>{{data.data.location.governorate}}</h5>
    </div>
    <div class="col-md-6">
      <label>{{'Dispcher.AREA' | translate}}:</label>
      <h5>{{data.data.location.area}}</h5>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label>{{'Dispcher.Contract_Start_Date' | translate}}:</label>
      <h5>{{data.data.contract.startDate}}</h5>
    </div>
    <div class="col-md-6">
      <label>{{'Dispcher.Contract_Expire_Date' | translate}}:</label>
      <h5>{{data.data.contract.endDate}}</h5>
    </div>
  </div>
<div class="form-group">
  <label>{{'Dispcher.ORDRPROGRS' | translate}}:</label>
  <ngx-datatable class="material expandable" [rows]="orderProgress" [columnMode]="'force'"
                 [columns]="[]"
                 [headerHeight]="50"
                 [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="false" [limit]="10"
                 [selected]="[]">

    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                          [resizeable]="false" [headerCheckboxable]="false"
                          [checkboxable]="false">
    </ngx-datatable-column>

    <ngx-datatable-column [width]='75' prop="progressStatus.id" name="{{'Dispcher.ID' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='75' prop="progressStatus.name" name="{{'Dispcher.STATUS' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='75' prop="createdDate" name="{{'Dispcher.CREATED_DATE' | translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='75' prop="note" name="{{'Dispcher.Remarks' | translate}}"></ngx-datatable-column>
  </ngx-datatable>
</div>
</div>

<div class="modal-footer">
  <button class="btn" (click)="activeModal.dismiss()">{{'Dispcher.clos' | translate}}</button>
</div>

