<form #order="ngForm" autocomplete="off" (ngSubmit)="order.valid && submitOrder(order.value)">

  <fieldset [disabled]="disabled">

    <div class="row" *ngIf="hideLocation">
      <div class="form-group col-md-6">
        <label>{{'ORDER.ordrType' | translate}}</label>
        <select class="form-control" name="fK_OrderType_Id" [(ngModel)]="newOrder.fK_OrderType_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderType_Id">-- {{'CUSTOMER.slcType' | translate}} --</option>
          <option [value]="type.id" *ngFor="let type of orderTypes">{{type.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderType_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
        </em>
      </div>
    </div>

    <div class="row" *ngIf="!hideLocation">
      <div class="form-group col-md-6">
        <label>{{'ORDER.ordrType' | translate}}</label>
        <select  disabled="disabled"  class="form-control" name="fK_OrderType_Id" [(ngModel)]="newOrder.fK_OrderType_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderType_Id">-- {{'CUSTOMER.slcType' | translate}} --</option>
          <option [value]="type.id" *ngFor="let type of orderTypeCashCall">{{type.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderType_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
        </em>
      </div>
    </div>


    <div class="row" [hidden]="isNewOrder">
      <div class="form-group col-md-6">
        <label>{{'ADMN.ORDRSTUS' | translate}}</label>
        <select class="form-control" name="fK_OrderStatus_Id" [(ngModel)]="newOrder.fK_OrderStatus_Id" required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderStatus_Id">-- {{'CUSTOMER.slcType' | translate}} --</option>
          <option [value]="status.id" *ngFor="let status of statuses">{{status.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderStatus_Id.invalid && !isNewOrder">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
        </em>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>{{'ADMN.ORDRPRORTY' | translate}}</label>
        <select class="form-control" name="fK_OrderPriority_Id" [(ngModel)]="newOrder.fK_OrderPriority_Id"
                required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderPriority_Id">-- {{'CUSTOMER.slcType' | translate}} --</option>
          <option [value]="priority?.id" *ngFor="let priority of orderPriority">{{priority.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderPriority_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
        </em>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>{{'ADMN.ORDRPROLMS' | translate}}</label>
        <select class="form-control" name="fK_OrderProblem_Id" [(ngModel)]="newOrder.fK_OrderProblem_Id"
                required>
          <option [value]="undefined" *ngIf="!newOrder.fK_OrderProblem_Id">-- {{'CUSTOMER.slcType' | translate}} --</option>
          <option [value]="problem?.id" *ngFor="let problem of problems">{{problem.name}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_OrderProblem_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
        </em>
      </div>
    </div>

    <div class="row" *ngIf="hideLocation">
      <div class="form-group col-md-6">
        <label>{{'ADMN.CustomerLocation' | translate}}</label>
        <select class="form-control" name="fK_Location_Id" [(ngModel)]="newOrder.fK_Location_Id"
                required>
          <option [value]="undefined" *ngIf="!newOrder.fK_Location_Id">-- {{'CUSTOMER.slcType' | translate}} --</option>
          <option [value]="location?.id" *ngFor="let location of customerLocations">{{location.title}}</option>
        </select>
        <em *ngIf="order.submitted && order.controls?.fK_Location_Id.invalid">
          <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
        </em>
      </div>
    </div>

    <div class="row">
      <div style="display: block" class="col-md-3">
        <div class="form-group">
          <label style="display: block">{{'REPORT.SFDate' | translate}}:</label>
          <p-calendar [minDate]="todayDate" name="startDate" [(ngModel)]="newOrder.startDate" [showIcon]="true"
                      readonlyInput="true" required="true"></p-calendar>

          <em style="display: block" *ngIf="order.submitted && order.controls?.startDate.invalid">
            <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
          </em>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label style="display: block">{{'REPORT.EADate' | translate}}:</label>
          <p-calendar name="endDate" [minDate]="todayDate" [(ngModel)]="newOrder.endDate" [showIcon]="true" readonlyInput="true"
                      required="true"></p-calendar>
          <em style="display: block" *ngIf="order.submitted && order.controls?.endDate.invalid">
            <i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir' | translate}}
          </em>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>{{'ADMN.note' | translate}}</label>
          <textarea name="note"  rows="4"
                    [(ngModel)]="newOrder.note" class="form-control"></textarea>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div *ngIf="disabled" class="col-md-9">
    </div>
    <div *ngIf="existedOrder" class="col-md-3">
      <button (click)="closeModal()" class="btn btn-default" style="width:100%">{{'SHARED.clos' | translate}}</button>
    </div>
    <div *ngIf="!existedOrder" class="col-md-3">
    </div>

    <div *ngIf="!disabled" class="col-md-offset-6 col-md-3">
      <button type="submit" style="width:100%" class="btn btn-dark">{{'ORDER.savOrdr' | translate}}</button>
    </div>
  </div>
</form>
